doctype html
html
    head
        title="Google"
    body
        h1 Hello! 
        h2 Please log to google!
        form(action="http://localhost:3000/auth/logged" method="GET")
            label Login: 
            input(input type="text" name="login")
            br
            label Password: 
            input(input type="text" name="password")
            br
            input(type="submit" value="Submit")